@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-container">
    <div class="row">
        <div class="col-md-12">
            <h4>RESTORE MANAGEMENT</h4><hr />
        </div>
        <div class="col-md-4">
            <label for="drpTestBenchList">Select Test Bench </label> <br />
            <select id="drpTestBenchList" name="SelectTestBench" class="form-control">
                <option value="0">Select Test Bench</option>
                <option value="1">Test bench 1</option>
                <option value="2">Test Bench 2</option>
                <option value="3">Test Bench 3</option>
            </select>
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">Table List</div>
                <div class="panel-body">
                    <div class="col-md-6" style="margin-bottom:20px;">
                        <label>Table Name </label> <br />

                    </div>
                    <div class="col-md-6" style="margin-bottom:20px;">
                        <select id="drpTable" name="SelectTable" class="form-control">
                            <option value="0">Select Table</option>
                            <option value="1">Table 1</option>
                            <option value="2">Table 2</option>
                            <option value="3">Table 3</option>
                        </select>
                    </div>
                    <div class="col-md-6" style="margin-bottom:20px;">
                        <label>Restore State</label> <br />

                    </div>
                    <div class="col-md-6" style="margin-bottom:20px;">
                        <select id="drpRestoreState" name="SelectState" class="form-control">
                            <option value="0">Select Restore State</option>
                            <option value="1">Last Updated</option>
                            <option value="2">Full Restore</option>
                        </select>
                    </div>

                </div>
                <div class="panel-footer">
                    <button class="btn btn-success">Restore</button>
                </div>
            </div>
        </div>
    </div>
</div>
